@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    /*Primary*/
    --red400: hsl(0, 100%, 74%); 
    --green400: hsl(154, 59%, 51%);

    /*Accent*/
    --purple700: hsl(248, 32%, 49%);

    /*Neutral*/
    --gray900: hsl(249, 10%, 26%); 
    --purple350: hsl(246, 25%, 77%);
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins',sans-serif;
    background-color: var(--red400);
}


.intro{
    padding: 5rem 1rem;
    background-image: url("../images/bg-intro-mobile.png");
    background-position: center;
}

.hero{
    text-align: center;
    h1{
        margin-bottom: 1rem;
        color: #fff;
    }
    p{
        color: #fff;
    }
}

.sign{
    margin-top: 3rem;
}

.try{
    padding: 1rem;
    box-shadow: 0 5px rgba(0,0,0,.3);
    border-radius: 10px;
    text-align: center;
    font-size: .9rem;
    color: #fff;
    background-color: var(--purple700);
}

form{
    width: 100%;
    padding: 1rem;
    margin-top: 1.5rem;
    border-radius: 10px;
    background-color: #fff;
}

.form__container{
    margin: 1rem 0;
}

.container{
    position: relative;
}

input{
    width: 100%;
    height: 45px;
    padding-left: .5rem;
    border-radius: 5px;
    border: 1px solid var(--purple350);
    outline: none;
}

input, input::placeholder{
    font-family: 'Poppins',sans-serif;
    font-weight: 600;
    color: var(--gray900);
}

input:focus{
    border: 1px solid var(--purple700);
}

.error-img,.email-img{
    position: absolute;
    top: 50%;
    right: 5%;
    transform: translateY(-50%);
    visibility: hidden;
}

.btn-submit{
    height: 45px;
    margin-bottom: 1rem;
    text-transform: uppercase;
    font-family: 'Poppins',sans-serif;
    font-weight: 600;
    letter-spacing: 1.5px;
    color: #fff;
    background-color: var(--green400);
    cursor: pointer;
    transition: filter .2s linear;
}

.btn-submit:hover{
    filter: brightness(110%)
}

.form-text{
    font-size: .7rem;
    text-align: center;
    color: var(--gray900);
    
    .mark{
        color: var(--red400);
    }
}


/*MESSAGES ERROR*/
.msg,.msg-email{
    height: 15px;
    margin-top: .2rem;
    font-size: .7rem;
    font-style: italic;
    text-align: right;
    color: var(--red400);
}



@media screen and (min-width:550px){
    body{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .intro{
        max-width: 500px;
    }
}

@media screen and (min-width:768px){
    body{
        background-image: url("../images/bg-intro-desktop.png");
    }
}

@media screen and (min-width:1024px){
    .intro{
        width: 100%;
        max-width: none;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 2rem;
        padding: 0 5rem;
    }

    .hero,.sign{
        width: 50%;
    }

    .hero{
        text-align: left;
        h1{
            font-size: calc(1.7rem + 1vw);
            line-height: 3rem;
        }
    }

    
}